/*
Color scheme based on
	Daily Color Scheme: Mountain Dawn
	http://beta.dailycolorscheme.com
		color: #000014;
		color: #2A3B63;
		color: #717C8C;
		color: #C8A77B;
		color: #FC9D4A;
		color: #F56203;
		color: #C34E02;
*/

body {
	color: #ffffff;
	background-color: #999999;
}

a {
	color: #2A3B63;
	background-color: #FFFFFF;
	text-decoration: underline;
}

a:visited {
	color: #610606;
	background-color: #FFFFFF;
	text-decoration: underline;
}

a:hover {
	color: #F56203;
	background-color: #FFFFFF;
	text-decoration: underline;
}

#logo {
	color: #FFFFFF;
	background-color: #2A3B63;
}

#logo a {
	font-size: 1.5em;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #2A3B63;
	text-decoration: none;
}

#container {
	color: #000014;
	background-color: #FFFFFF;
}

#content {
	min-height: 25em;
}

#nav {
	color: #FFFFFF;
	background-color: #2A3B63;
}

#nav ul {
}

#nav ul li {
	display: inline;
}

#nav ul li.selected a {
}

#nav ul li a {
	color: #FFFFFF;
	background-color: #2A3B63;
	text-decoration: none;
}

#nav ul li a:hover {
	text-decoration: none;
}

#footer {
	border-top: 1px solid black;
}

#footer a {
}



