
body {
	color: #000000;
	background-color: #ffffff;
}

#logo {
	color: #FFFFFF;
	background-color: #1B619B;
}

#logo a {
	font-size: 1.5em;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #1B619B;
	text-decoration: none;
}

#container {
	color: #333333;
	background-color: #ffffff;
}

#content {
	min-height: 25em;
}

#nav {
	color: #ffffff;
	background-color: #1b619b;
}

#nav ul {
}

#nav ul li {
	display: inline;
}

#nav ul li.selected a {
}

#nav ul li a {
	color: #FFFFFF;
	background-color: #1B619B;
	font-weight: bold;
	text-decoration: none;
}

#nav ul li a:hover {
	text-decoration: none;
}

#footer {
	border-top: 1px solid black;
}

#footer a {
}

.nocss {
	display: none;
}



