
body {
	color: #000000;
	background-color: #ffffff;
}

a {
	color: #1B619B;
	background-color: #ffffff;
	text-decoration: underline;
}

a:visited {
	color: #777777;
	background-color: #ffffff;
	text-decoration: underline;
}

a:hover {
	color: #D75A20;
	background-color: #ffffff;
	text-decoration: underline;
}

#logo {
	color: #FFFFFF;
	background-color: #1B619B;
}

#logo a {
	font-size: 2em;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #1B619B;
	text-decoration: none;
}

#container {
	color: #333333;
	background-color: #ffffff;
}

#content {
}

#nav {
	color: #000000;
	background-color: #ffffff;
}

#nav .navhead {
	display: none;
	font-weight: bold;
	border-bottom: 1px solid black;
	color: #000000;
	background-color: #CCCCCC;
}

#nav ul {
}

#nav ul li {
	display: inline;
}

#nav ul li.selected a {
}

#nav ul li a {
	color: #1B619B;
	background-color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

#nav ul li a:hover {
	color: #F8F2E5;
	background-color: #1B619B;
	font-weight: bold;
}

#footer {
	border-top: 1px solid black;
}

#footer a {
	font-weight: bold;
	text-decoration: none;
}

.nocss {
	display: none;
}


