RewriteEngine on
#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php


# Redirect old URLs to their new equivalents
RewriteRule ^/linux-laptop$ /linux/laptop/ [R=301]
RewriteRule ^/linux-laptop-debian$ /linux/laptop/debian/ [R=301]
RewriteRule ^/linux-laptop-redhat$ /linux/laptop/redhat/ [R=301]
RewriteRule ^/linux-laptop-slackware$ /linux/laptop/slackware/ [R=301]
RewriteRule ^/linux-nforce$ /linux/nforce/ [R=301]

